article  {display: grid;
    grid-template-columns: 1fr 0.5in [start] 1.25in 5in 1.25in 0.5in [end] 1fr;
    height: 100vh;
    padding-top: 1cm;
    padding-bottom: 1cm;

}
article * {
    grid-column: start / end;
  
}
.center-article {
    display: flex;
    align-items: center;
    justify-content: center;
   
}
@media (max-width: 8.5in) {
	article { grid-template-columns: 1fr 5% [start] 15% 60% 15% [end] 5% 1fr; }
}